<h2>Welcome ToyApp Site</h2>
<p>Here you can sign up at the users page to learn more about what the toy app features. </p>
<p><%= image_tag("nature.jpg", :alt => "nature", :class => "img-circle") %></p>
<p>This site has combined a number of ideas from the RailsTutorial.org Online Book (the link to which you can find on help page) and created a mash-up of ToyApp and Bootstrap.</p>
